 h2 {
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #252424;
  margin-bottom: 8px;
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px; /* Space between rows */
  margin-top: 70px;
}

.row {
  display: flex;
    justify-content: space-between;
    gap: 150px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  width: 91px;
  height: 99px;
  background-color: white; /* White background */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Soft shadow effect */
  border-radius: 10px; /* Rounded corners */
  padding: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.image-container p {
  margin-top: 5px;
  font-size: 14px;
  color: black;
}

/* Responsive Design */
@media (max-width: 768px) {
 h2 {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #252424;
    margin-bottom: 8px;
}

  .row {
    flex-direction: row; /* Keep 3 per row */
    gap: 45px; /* Maintain 10px gap */
  }

  .image-container {
    width: 95px;
    height: 100px;
  }

  .image-container p {
    font-size: 12px;
  }
}

@media (max-width: 426px) {
  h2 {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #252424;
    margin-bottom: 8px;
}

  .row {
    flex-direction: row !important; /* Keep 3 per row */
    gap: 35px !important; /* Maintain 10px gap */
  }

  .image-container {
    width: 75px !important;
    height: 85px !important;
  }

  .image-container p {
    font-size: 12px;
  }
}

@media (max-width: 376px) {
  h2 {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #252424;
    margin-bottom: 8px;
}

  .row {
    flex-direction: row !important; /* Keep 3 per row */
    gap: 35px !important; /* Maintain 10px gap */
  }

  .image-container {
    width: 75px !important;
    height: 85px !important;
  }

  .image-container p {
    font-size: 12px;
  }
}
@media (max-width: 321px) {
   h2 {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important;
    color: #252424;
    margin-bottom: 8px !important;
}

  .row {
    flex-direction: row; /* Keep 3 per row */
    gap: 25px; /* Maintain 10px gap */
  }

  .image-container {
    width: 80px;
    height: 85px;
  }

  .image-container p {
    font-size: 12px;
  }
}