a {
    text-decoration: none;
}

header {
    background-color: #FFCC00;
    height: 230px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
}

.banner-text {
    flex: 1;
    text-align: left;
}

.banner-img img {
    max-width: 260px;
    height: auto;
    margin-top: 45px;
    margin-right: 72px;
}
.navlink{
    display: flex;
    justify-content: space-between;
}
h2{
    color: #000000;
    margin-top: 5px;
}



.Container {
    max-width: 1440px;
    width: 450%;
    height: inherit;
    margin: 0 auto;
    padding: 0 1rem;
}

.Container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Container nav .logo {
    color: #212a3c;
    font-size: 1.2rem;
    cursor: pointer;
}

.Container .nav-link {
    display: flex;
    margin-top: 10px;
}

.Container .nav-link li {
    list-style: none;
    margin: 0.5rem;
}

.Container ul li a {
    color: #000000;
    padding: 0.7rem 1rem;
    display: block;
    border-radius: 10px;
}

.Container ul li a:hover,
.Container ul li a.active {
    font-weight: 1000;
    color: white !important;
}

.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.logout-container {
    margin-left: auto; /* This will push the logout button to the right */
  }

.banner-text {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-align: center;
}

.banner-text h1 {
    font-size: 2.5rem; /* Main heading size */
    margin-bottom: 0.5rem;
    color: white;
}
.highlight-word{
    color: #000000;
}
.banner-text h2 {
    font-size: 14.5px;
    margin-bottom: 0.5rem;
    font-family: serif;
}

.banner-text p {
    font-size: 12.2px;
    margin: 0;
}

@media (max-width: 768px) {
    .header {
        background-color: #FFCC00;
        height: 185px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }
    .content h2 {
        font-size: 4rem;
        text-align: center;
    }

    .icon {
        color: white;
        display: block;
        margin-top: 26px;
    }

    .Container .nav-link {
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #a7a4a4;
        position: absolute;
        width: 280px;
        height: 60vh;
        top: -800px;
        left: 0;
        z-index: 10;
        transition: all 0.7s;
        margin-top: 36px;
    }

    .nav-link.active{
        top: 12%;
        transition: all 0.7s ease-in;
    }

    .banner-img img {
        max-width: 200px;
        height: auto;
        margin-top: 88px;
        margin-right: -15px;
    }
    
    .banner-text {
        position: absolute;
        top: 60%;
        left: 20%;
        transform: translate(-50%, -50%);
        color: #000000;
        text-align: center;
    }
    .banner-text h1 {
        font-size: 20px; 
        margin-left: 20px;
    }

    .banner-text h2 {
        font-size: 6px;
        font-family: inherit;
        margin-left: 20px;
    }
    .banner-text h5 {
        font-size: 11px;
        font-family: inherit;
        margin-left: 20px;
    }

    .banner-text p {
        margin-left: 20px;
        font-size: 5px; 
        color: #000000;
    }
}

@media (max-width: 375px) {
    .header {
        background-color: #FFCC00;
        height: 100px !important;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }
    .content h2 {
        font-size: 3rem;
        text-align: center;
    }

    .icon {
        color: white;
        display: block;
        margin-top: 20px;
    }

    .Container .nav-link {
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #a7a4a4;
        position: absolute;
        width: 270px;
        height: 50vh;
        top: -800px;
        left: 0;
        z-index: 10;
        transition: all 0.7s;
        margin-top: 36px;
    }

    .nav-link.active{
        top: 12%;
        transition: all 0.7s ease-in;
    }

    .banner-img img {
        max-width: 180px;
        height: auto;
        margin-top: 80px;
        margin-right: -22px;
    }
    
    .banner-text {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%, -50%);
        color: #000000;
        text-align: center;
    }
    .banner-text h1 {
        font-size: 10px; 
        margin-left: 10px;
    }

    .banner-text h2 {
        font-size: 5px;
        font-family: inherit;
        margin-left: 20px;
    }
    .banner-text h5 {
        font-size: 10px;
        font-family: inherit;
        margin-left: 15px;
    }

    .banner-text p {
        margin-left: 17px;
        font-size: 5px; 
        color: #000000;
    }
}

@media (max-width: 320px) {
    .header {
        background-color: #FFCC00;
        height: 100px !important;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }
    .content h2 {
        font-size: 3rem;
        text-align: center;
    }

    .icon {
        color: white;
        display: block;
        margin-top: 20px;
    }

    .Container .nav-link {
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #a7a4a4;
        position: absolute;
        width: 270px;
        height: 50vh;
        top: -800px;
        left: 0;
        z-index: 10;
        transition: all 0.7s;
        margin-top: 36px;
    }

    .nav-link.active{
        top: 12%;
        transition: all 0.7s ease-in;
    }

    .banner-img img {
        max-width: 180px;
        height: auto;
        margin-top: 110px;
        margin-right: -22px;
    }
    
    .banner-text {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%, -50%);
        color: #000000;
        text-align: center;
    }
    .banner-text h1 {
        font-size: 10px; 
        margin-left: 10px;
    }

    .banner-text h2 {
        font-size: 5px;
        font-family: inherit;
        margin-left: 20px;
    }
    .banner-text h5 {
        font-size: 10px;
        font-family: inherit;
        margin-left: 15px;
    }

    .banner-text p {
        margin-left: 17px;
        font-size: 5px; 
        color: #000000;
    }
}