@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap");


@media (max-width: 768px) {
    .responsive-logo {
      width: 100px !important; /* Smaller width on mobile */
      height: 80px !important; /* Smaller height on mobile */
    }
    .Auto-Picture{
        width: 110px !important; /* Smaller width on mobile */
        height: 90px !important; /* Smaller height on mobile */
    }
    
  }
  
  @media (max-width: 480px) {
    .responsive-logo {
        width: 119px !important;
        height: 90px !important;
        margin-left: -31px;
    }
    .Auto-Picture{
        width: 110px !important; /* Smaller width on mobile */
        height: 90px !important; /* Smaller height on mobile */
        margin-right: -20px;
    }
  }

  .main-title span{
    font-size: 40px;
    font-family: "Poppins", sans-serif; /* Professional font */
  }
  .title {
    font-size: 20px;
    font-weight: 600; /* Bold weight for title */
    color: #333;
    font-family: "Poppins", sans-serif; /* Professional font */
  }
  
  .subtitle {
    font-size: 18px;
    font-weight: 500;
    color: #222;
    font-family: "Roboto", sans-serif; /* Clean and modern */
  }
  
  .quote {
    font-size: 80%;
    color: black;
    font-style: italic; /* Makes the quote more stylish */
    font-family: "Montserrat", sans-serif;
  }
  
  /* Tablet View */
  @media (max-width: 768px) {
    .main-title span{
        font-size: 25px;
        font-family: "Poppins", sans-serif; /* Professional font */
      }
    .title {
      font-size: 14px;
    }
  
    .subtitle {
      font-size: 12px;
    }
  
    .quote {
      font-size: 85%;
    }
  }
  
  /* Mobile View */
  @media (max-width: 480px) {
    .main-title span{
        font-size: 15px;
        font-family: "Poppins", sans-serif; /* Professional font */
      }
    .title {
      font-size: 12px;
    }
  
    .subtitle {
      font-size: 10px;
    }
  
    .quote {
      font-size: 50%;
    }
  }
  